@{
    ViewData["Title"] = "Home Page";
}

<h2>Multi-staged forms</h2>
<ul>
    <li><a asp-controller="Registration" asp-action="SignUp">Registration</a></li>
    <li><a asp-controller="Reset" asp-action="Index">Password Reset</a></li>
</ul>