@model dynamic
@{
    ViewBag.Title = "Hello Quiz";
}

<h2>Quiz</h2>
<ul>
    <li><a asp-controller="Counter" asp-action="Index">Counter</a></li>
    <li><a asp-controller="Counter" asp-action="Result">CounterResult</a></li>
    <li><a asp-action="Quiz">Quiz</a></li>
    <li><a asp-action="QuizResult">QuizResult</a></li>
</ul>