@model dynamic
@{
    ViewBag.Title = "Controls";
}

<h2>Controls</h2>
<ul>
    <li><a asp-action="TextBox">TextBox</a></li>
    <li><a asp-action="TextArea">TextArea</a></li>
    <li><a asp-action="CheckBox">CheckBox</a></li>
    <li><a asp-action="Radio">Radio</a></li>
    <li><a asp-action="DropDownList">DropDownList</a></li>
    <li><a asp-action="ListBox">ListBox</a></li>
</ul>