@model Backend4.Models.Controls.TextAreaViewModel
@{
    ViewBag.Title = "Text Area";
}

<h2>Text Area</h2>
<dl class="dl-horizontal">
    <dt>Text</dt>
    <dd style="white-space: pre-wrap">@Model.Text</dd>
</dl>