@model dynamic
@{
    ViewBag.Title = "Hello Mockups";
}

<h2>Mockups</h2>
<ul>
    <li><a asp-action="SignUp">Sign Up</a></li>
    <li><a asp-action="SignUpAlreadyExists">Sign Up (same user already exists)</a></li>
    <li><a asp-action="SignUpCredentials">Sign Up (credentials)</a></li>
    <li><a asp-action="SignUpResult">Sign Up (result)</a></li>
</ul>