@model Backend1.Models.DateTimeViewModel
@{
    ViewBag.Title = "Pass using Model";
}

<h2>Current Date & Time</h2>
<dl class="dl-horizontal">
    <dt>Model.Current</dt>
    <dd>@Model.Current</dd>
</dl>