@model Backend6.Models.ViewModels.ForumMessageAttachmentsEditModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ForumMessageAttachment</h4>
<hr />
<form asp-action="Create" asp-route-forumMessageId="@ViewBag.ForumMessage.Id" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="File" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Details" asp-controller="ForumTopics" asp-route-id="@ViewBag.ForumMessage.ForumTopicID">Back to Forum</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
