@model dynamic
@{
    ViewBag.Title = "Forum";
}

<h2>Forum</h2>

<div class="panel panel-default forum-category">
    <div class="panel-heading">
        <strong>Category 1</strong>
        | <a href="#">Edit</a>
        | <a href="#">Delete</a>
        | <a href="#">Create forum</a>
    </div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                <a href="#" class="forum-name">Forum 1</a>
                | <a href="#">Edit</a>
                | <a href="#">Delete</a>
                <p>First forum description</p>
            </td>
            <td style="width: 150px">1 topic</td>
        </tr>
        <tr>
            <td>
                <a href="#" class="forum-name">Forum 2</a>
                | <a href="#">Edit</a>
                | <a href="#">Delete</a>
                <p>Second forum description</p>
            </td>
            <td style="width: 150px">5 topics</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default forum-category">
    <div class="panel-heading">
        <strong>Category 2</strong>
        | <a href="#">Edit</a>
        | <a href="#">Delete</a>
        | <a href="#">Create forum</a>
    </div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                <a href="#" class="forum-name">Forum 3</a>
                | <a href="#">Edit</a>
                | <a href="#">Delete</a>
                <p>Third forum description</p>
            </td>
            <td style="width: 150px">1 topic</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default forum-category">
    <div class="panel-heading">
        <strong>Category 3</strong>
        | <a href="#">Edit</a>
        | <a href="#">Delete</a>
        | <a href="#">Create forum</a>
    </div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <a href="#" class="forum-name">Forum 4</a>
                    | <a href="#">Edit</a>
                    | <a href="#">Delete</a>
                    <p>Fourth forum description</p>
                </td>
                <td style="width: 150px">0 topics</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#">Create new category</a>
    </div>
</div>