@model dynamic
@{
    ViewBag.Title = "Mockups";
}

<h2>Mockups</h2>

<ul>
    <li><a asp-action="AllForums">All Forums</a></li>
    <li><a asp-action="SingleForum">Single Forum</a></li>
    <li><a asp-action="SingleTopic">Single Topic</a></li>
</ul>