@model Backend5.Models.ViewModels.DoctorPatientsCreateModel

@{
    ViewData["Title"] = "Create";
}


<h2>Create</h2>

<form asp-action="Create" asp-route-doctorId="@ViewBag.Doctor.Id">
    <div class="form-horizontal">
        <h4>DoctorPatient</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PatientId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-route-doctorId="@ViewBag.Doctor.Id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
