@model Backend4.Models.ResetCodeVerificationViewModel
@{
    ViewBag.Title = "Reset your password";
}

<h2>Reset your password</h2>

<form asp-action="CodeVerification" class="form-horizontal">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Email" type="hidden" />
    <div class="form-group">
        <label asp-for="Code" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button class="btn btn-default">Verify</button>
        </div>
    </div>
</form>