@model dynamic
@{
    ViewBag.Title = "Hello Counter";
}

<h2>Counter</h2>

<form class="form-horizontal">
    <div class="form-group">
        <span class="col-md-2"><strong>Current value:</strong></span>
        <span class="col-md-10">5</span>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button class="btn btn-default">Decrease</button>
            <button class="btn btn-default">Increase</button>
            <button class="btn btn-primary">Finish</button>
        </div>
    </div>
</form>