@model dynamic
@{
    ViewBag.Title = "Hello Counter";
}

<h2>Counter</h2>

<p><strong>Result:</strong> 5</p>
<p>
    <ol>
        <li>Increase</li>
        <li>Increase</li>
        <li>Increase</li>
        <li>Decrease</li>
        <li>Increase</li>
        <li>Increase</li>
        <li>Increase</li>
    </ol>
</p>