@model dynamic
@{
    ViewBag.Title = "Hello Mockups";
}

<h2>Mockups</h2>
<ul>
    <li><a asp-action="Counter">Counter</a></li>
    <li><a asp-action="CounterResult">CounterResult</a></li>
    <li><a asp-action="Quiz">Quiz</a></li>
    <li><a asp-action="QuizResult">QuizResult</a></li>
</ul>
