@model dynamic
@{
    ViewBag.Title = "Hello Quiz";
}

<h2>Quiz results</h2>

<p>
    <strong>Correct answers: </strong> 5 / 7
</p>
<p>
    <ol>
        <li>855 + 433 = 1288</li>
        <li>747 * 449 = 335403</li>
        <li>59685 / 512 = 116</li>
        <li class="text-danger">2 + 2 = 5</li>
        <li>436 - 473 = -37</li>
        <li>18 * 53242 = 958356</li>
        <li class="text-danger">1 * 1 = 0</li>
    </ol>
</p>